 <% if employee_signed_in? %>
   <%= link_to 'employees_index_path'
   %>
 <%else%>

    <!DOCTYPE html>
    <html>
      <head>
        <title>Jober Home Page</title>
      </head>
      <body style="text-align: center !important; width: 60%; margin: 0 auto; margin: auto !important;">

        <div class="h-100 d-flex align-items-center justify-content-center">
          <li>
            <h1>Welcom to the Jober app</h1>
  
            <h2>Who are you</h2>
            <%= link_to 'Employee',employees_new_path,class:"btn btn-lg btn-primary"%>
            <%= link_to 'Applicant',applicants_new_path,class:"btn btn-lg btn-primary"%>
          </li>
        </div> 
      </body>
    </html> 
  <%end%>

