<div class="row">
  <div class="col-md col-md-offset-3">
    <h1>Welcome to The Employee Page</h1>
    <h2>for posting new Job please</h2>
    IF You Are New Here please
    <%= link_to 'Sign Up',new_employee_registration_path,class:"btn btn-lg btn-primary"%>

    <br>
    <h1>OR</h1>
    Already A Register Employee please
    <%= link_to 'Login',new_employee_session_path,class:"btn btn-lg btn-primary"%>
  </div>
</div>