
<div class="row">
  <div class="col-md col-md-offset-3">
    <h1>Hello Here You can Find your Dream Job </h1>
    <h3>Are you existing User? 
    <%= link_to 'Log In',new_applicant_session_path,class:"btn btn-lg btn-primary"%>
    </h3>
    <br>
    <h3>Are you new user
    <%= link_to 'Sign Up',new_applicant_registration_path,class:"btn btn-lg btn-primary"%>
    </h3> 
  </div>
</div>
