
<li>
  <h1 style="color:black;">Name<strong> <%=@applicant.name%></strong></h1>
 
  <h3 style="color:black">Skills--<strong> <%=@applicant.skills%></strong></h3>
  <h3 style="color:black">Address-<%=@applicant.address%></h3>
  <h3 style="color:black">Details-<%=@applicant.description%></h3>

</li>
