  <li>
    <ul>
      <h3>Job Title-</h3> <h2><%=@job.job_title%></h2>
    </ul>
    <ul>
      <div>
        <h3>Job Description-</h3><h2><%=@job.description%></h2>
      </div>
    </ul>
    <ul>
      <div>
        <h3>Required Experinece-<h3><h4><%=@job.experience%> Years</h4> 
      </div>   
    </ul>
    <ul>
      <div><h3>Total CTC</h3> <h4> <%=@job.salary%>  LPA</h4></div> 
    </ul>
  </li>