<div ,class="row py-lg-5">
<li>
  <ul>
    <%=@job.job_title%>
  </ul>
  <ul>
    <%=@job.description%>
  </ul>
  <ul>
    <%=@job.experience%>
  </ul>
  <ul>
    <%=@job.salary%>
  </ul>
</li>
</div>

