/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.center {
  margin: auto;
  width: 40%;
  /* border: 3px solid rgb(16, 16, 16); */
  background-color: rgba(74, 117, 127, 0.763);
  padding: 10px;
}

.padding {
  padding-bottom: 50px;
}


.htags {
  width: 40%;
  border: 1pxs;
}


.signup {

  margin: left;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(240, 240, 240);
  /* border: 3px solid rgb(3, 3, 3) */
}

.center1 {
  margin: right;
  width: 100%;
  border: 3px solid rgb(16, 16, 16);
  background-color: rgb(151, 169, 176);
  padding: 10px;
}