<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
     <%= link_to "Jober", root_path, id: "logo" %>
     <nav>
       <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Home",root_path %></li>
         <%if applicant_signed_in?%>
           <li><%=link_to "Jobs",jobs_path%></li>
                    <li class="divider"></li>
                    <li><%=link_to "Log out",destroy_applicant_session_path, method: :delete%></li>
          <%end%>
       </ul>
     </nav>
   </div>
</header>